@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700,700italic|Open+Sans:300italic,400italic,700italic,400,300,700);

/* main RWDF styles -> layout, design, etc. */

/** Base RWDF Color Palette
Dk Green:     rgba(110,176,0,1), #6EB000
Blue:         rgba(0,154,201,1), #009AC9
Gray:         rgba(185,186,184,1), #B9BAB8
light gray:   rgba(248,247,247,1), #F8F7F7
orange        rgba(189,88,9,1), #BD5809
**/

/* Base Styles */
html {
  font-size:10px;
  line-height:1.25;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size:1.5rem;
  padding-bottom:100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', Georgia, serif;
  line-height: 1.25em;  
}

.add-top    { margin-top: 75px; }
.add-bottom { margin-bottom: 75px; }

.diag-divider {
  height:40px;  
  background: url("../media/diag.gif") repeat;
  border-bottom: 3px solid; 
  border-color: #f8f7f7; 
  border-color: rgba(248,247,247,1); 
  margin-bottom: 15px;
  }
  
img { max-width: 100%; }
.accompany img { margin-top: 30px; }
#staff aside img { margin-top: 72px; }

footer {
  font-size:1.2rem;
  line-height: 1.5;
}

/* Nav Styles */

.side-nav ul li {
  font-size: 1.4rem; 
}

p a.btn.blog {
  width: 100%;
  padding: 15px;
  margin-top: 0 !important;
}

/* Page Styles */
h3 { /* Inner Page Head */
  font-size: 2.4rem;
  margin: 30px 0 10px 0;
  }  

h4 { /* Inner Page Subhead */
  font-size:1.8rem;
  margin: 15px 0 5px 0;
  }

/* Jumbotron */
/* This is the big text areas on each of the sub-pages */
/*=========================*/
.jumbotron {
  background: url("../media/diag.gif") repeat;
  border-bottom: 3px solid; 
  border-color: #f8f7f7; 
  border-color: rgba(248,247,247,1); 
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  }

.index.jumbotron {
  background: none;
  border-bottom: none;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.index.jumbotron .diag-divider {
  margin-bottom: 30px;
}
  
.jumbo-text {
  background: white;
}

.jumbo-text .lead {
  font-size: 1.8rem;
  line-height: 1.33;
}

.jumbo-text h1 {
  font-size: 3.0rem;
  padding: 0;
} 

.index.jumbotron .lead {
  font-size: 2.4rem;
  line-height: 1.3333;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron {
    text-align: center;
  }
  
  .jumbo-text {
    padding: 30px 100px;  
    text-align: center;
  }

  .jumbo-text h1 {
    font-size:5rem;
    margin-bottom: 10px;
    padding:0 50px;
    line-height: 1.125;
  } 

  .jumbo-text .lead {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
  }

  .index.jumbotron .diag-divider {
    margin-bottom: 60px;
  }
  
  .index.jumbotron .lead {
    font-size: 4.4rem;
    line-height: 1.3333;
  }
}

/* Text */
a { 
  color:#6EB000;
  color:rgba(110,176,0,1); 
}
  
a:hover { 
  color: #009AC9;
  color:rgba(0,154,201,1); 
}

.navbar ul.nav li.active a {
  color: #009AC9;
  color: rgba(0,154,201,1);
}

h3, h4 { /* Subheads */
  color: #009AC9;
  color: rgba(0,154,201,1);
}
  
.plain h5 { /* Subheads */
  color:#6EB000;
  color:rgba(110,176,0,1);
}

h3.project-title a { color: #0799C8; }

footer, 
footer a {
  color: #B9BAB8;
  color:rgba(185,186,184,1)
}

/* Footer ===================================*/
footer { margin-top: 60px; }
footer ul.menu { list-style: none; }
footer .text-right { text-align: left; }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  footer .text-right { text-align: right; }
}

/* Icons, ETc. */
/*===========================================*/
.socialicon, .socialicon-color {
  float:left;
  margin: 5px 10px 15px 0;
  }

.iconblue { 
  background-color: #009AC9;
  background-color: rgba(0,154,201,1);
}
  
.icongreen { 
  background-color:#6EB000;
  background-color:rgba(110,176,0,1); 
}
  
.icongray { 
  background-color: #B9BAB8;
  background-color:rgba(185,186,184,1); 
}

.icongreen:hover, .icongray:hover,
li:hover .icongreen, li:hover .icongray { 
  background-color:#009AC9;
  background-color:rgba(0,154,201,1); 
}
  
.icons.categories .science , .icons.categories .arts , .icons.categories .justice, .icons.categories .scholars, .icons.categories .community, .icons.categories.bottom a {
  background-color: #B9BAB8;
  background-color:rgba(185,186,184,1); 
}
  
.icons.categories .science:hover , .icons.categories .arts:hover , .icons.categories .justice:hover , .icons.categories .scholars:hover , .icons.categories .community:hover, .icons.categories.bottom a:hover {
  background-color:#009AC9;
  background-color:rgba(0,154,201,1); 
}

.carousel-control { 
  color: #B9BAB8;
  color:rgba(185,186,184,1);
  background-color: transparent 
}
    
.carousel-control:hover { 
  color:#6EB000;
  color:rgba(110,176,0,1); 
}

ul.side-nav .active p {
  color: #555555;
}

ul.side-nav .active img {
  background-color: #555555;
}

.index .hero .feature .text.green,
.index .hero .row div.text.green,
.overlay div.text.green {
  background: #A2B952 !important;
  background: rgba(162,185,82,.75) !important;
}

/*==============================*/
main-content .row {
  padding-top:30px;
  padding-bottom:0;
}

.home-content h3 {
  padding-bottom:10px;
  border-bottom: 3px solid; 
  border-color: #f8f7f7; 
  border-color: rgba(248,247,247,1); 
}
  
.home-content p {
  margin-top:10px;
}

/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/

/* Navbar */
.navbar {
  margin-top: 30px;
  margin-bottom: 0;
  }
  
ul.nav li {
  font-size:1.5rem;
  font-weight:300;
}
    
.navbar a.logo,
.navbar a.logo img {
  display: block;
  height: auto;
  width: 120px;
}

.navbar a.logo {
  float:left;
}

.navbar-nav > li > a {
  padding: 5px 10px;
}

.navbar .nav li.social, 
.navbar .nav li.social a {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .navbar .nav li.social {
    display: inline-block;
    padding-left: 5px
  }

  .navbar .nav li.social a {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  .navbar ul.nav {
    position: relative;
    top: 32px;
  }
  
  .navbar-nav > li > a {
    padding: 15px 5px;
  }
  
  .navbar .nav li.social a {
    padding: 15px 3px;
  }

  .navbar .nav li.blog) {
    margin-right: 7px;
  }
}

@media (min-width: 992px) {
  .navbar a.logo,
  .navbar a.logo img {
    display: block;
    height: auto;
    width: 139px;
  }

  .navbar ul.nav {
    top: 40px;
  }
  
  ul.nav li {
    font-size:1.8rem;
  }
    
  .navbar-nav > li > a {
    padding: 15px 15px;
  }
  
  .navbar .nav li.social a {
    padding: 15px 5px;
  }

  .navbar .nav li.blog) {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) {
  .navbar ul.nav {
    top: 57px;
  }
  
  .navbar a.logo,
  .navbar a.logo img {
    display: block;
    height: auto;
    width: 172px;
  }
}


.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.navbar > .container {
  margin-bottom: 0;
}

.navbar > .container > .border-bottom{
  border-bottom: 3px solid; 
  border-color: #f8f7f7; 
  border-color: rgba(248,247,247,1); 
  margin-bottom: 0;
  padding-bottom: 15px;
}

.navbar .btn-navbar p {
  color: #009AC9;
  color:rgba(0,154,201,1); 
  margin: 0;
  padding: 0;
  text-shadow: none;
}

.navbar-toggle {
  border: 3px solid #f8f7f7;
  border-radius: 6px;
  top: 22px;
  margin: 0;
}

.navbar-toggle p {
  margin: 0;
  text-transform: uppercase;
}

/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/


/* Homepage */
/*=========================*/

.hero .text * { color: white; margin: 0; }
.tagline .text h1 { padding: 15px; }

.hero,
.hero .row,
.hero .feature, 
.hero .tagline,
.hero .tagline .text,
#gridded .col-sm-4 {
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.tagline div.text,
.overlay {
  background: #009CC1;
  background: rgba(0,156,193,1);
}

.overlay {
  background: rgba(0,156,193,.5);
  margin: 0;
  min-height: 50px;
  max-height: auto;
  padding: 10px;
  position: absolute;
  left: 15px;
  right: 15px;
}

.feature .overlay  { bottom: 0; }
.col-sm-4 .overlay { top: 0; }

.hero .lead {
  font-size:2rem;
  font-weight:300;
  line-height:1.33;
}

.hero h2 {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.overlay h3,
.overlay h3 a { 
  color: white; 
  font-weight: 400; 
  margin: 0; 
}

.hero .tagline h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.hero .tagline div.text {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.hero .tagline div.text h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.25;
  text-align: center;
}

#gridded .feature,
#gridded .col-sm-4 {
  margin-bottom: 15px;
  height: 150px
}

#gridded img  {
  min-height: 100%;
  min-width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #gridded .feature,
  #gridded .col-sm-4 {
    margin-bottom: 30px;
  }

  #gridded .feature {
    height: 250px;
  }
  
  #gridded .col-sm-4 {
    height: 110px;
  }
  
  .hero .tagline div.text h1 {
    font-size: 1.5em;
    text-align: left;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #gridded .feature {
    height: 350px;
  }
  
  #gridded .col-sm-4 {
    height: 160px
  }
  
  .hero .tagline div.text h1 {
    font-size: 2.25em;
    line-height: 1.33;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #gridded .feature {
    height: 490px;
  }
  
  #gridded .col-sm-4 {
    height: 230px
  }
  
  .hero .tagline div.text h1 {
    font-size: 3em;
  }
}

/*=========================*/
/* /END HOMEPAGE STYLES */



/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/



/*** WHO WE ARE PAGE? ***/
#tab-staff .socialicon-color {
  float:none;
  margin-top: 15px !important;
  }

#tab-staff .plain a {
  margin: 0px 10px 10px 0;
  display: inline-block;
}

.tab-pane h3 { margin-top: 22px; }

/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/

/* Inner Pages */
/*=========================*/

.inline-image img {
  width:100%;
  margin-top: 30px;
}
  
.plain {
  border-bottom: 3px solid #f8f7f7; 
  border-color: rgba(248,247,247,1); 
  margin-right:0 !important;
  margin-bottom:15px; 
  margin-left:0 !important;
  padding-bottom: 30px;
  overflow:hidden;
}
 
.sidebar {
  background-color:#f8f7f7;
  border: #eee solid 1px;
  padding:30px;
  margin-bottom:15px;
  color:gray;
  border-radius: 7px
}
  
.sidebar h3 {
  margin-top:0;  
}

label {
  margin:10px 0 2px 0;
}

/* sidenav for whoweare and whatwedo */
.side-nav {
  list-style-type: none;
  padding: 0;
  padding-top: 15px;
  margin:5px 0;
}

.side-nav li {
  padding:0;
  line-height: 1.1;  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.side-nav li a {
  clear: both;
  display: block;
  font-size: 1.4rem;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.side-nav > .active > a,
.side-nav > .active > a:hover,
.side-nav > .active > a:focus {
  color: #555555;
  cursor: default;
  text-decoration: none;
}

.side-nav i { margin: 3px 3px 0 0 }
 
.side-nav > li.active { background-color: rgba(248,247,247,1); }

ul.side-nav .iconsidenav {
  height:24px;
  margin:0 5px 0 0;  
  }

@media (max-width: 767px) {
  #filters {
    border-bottom: 3px solid; 
    border-color: #f8f7f7; 
    border-color: rgba(248,247,247,1); 
    margin: 0;
    margin-bottom: 15px;
    padding: 3px 0;
    width: 100%;
    zoom: 1;
  }
  #filters:before,
  #filters:after {
    display: table;
    line-height: 0;
    content: "";
  }
  
  #filters:after {
    clear: both;
  }
  
  #filters li.icons  {
    display: block;
    float: left;
    width: 20%;
    margin: 5px 0;
    padding: 0;
    text-align: center;
  }
  #filters li.icons div, #filters li.icons a { display:block; margin: 0; padding: 0; }
  #filters li.icons a { padding: 5px 0; text-align: center; }
  #filters li.icons p { display: none; }
  #filters li:first-child {
    text-align: center;
    display: block;
    width: 100%;
  }

  ul.side-nav .icons i {
    display: block;
    margin: 0 auto;
  }

}

@media (min-width: 767px) {
  #filters li:first-child {
    text-align: center;
  }
   
  ul.side-nav .iconsidenav {
    float:left;
  }
}

ul.side-nav p { padding-top: 4px; }

ul.side-nav .icons i {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul.side-nav .icons i.icon-science    { background-image: url("../media/category_science_40.png"); width: 21px; margin-left: 3px; }
ul.side-nav .icons i.icon-scholars   { background-image: url("../media/category_scholars_40.png"); width: 24px; margin-left: 1px; }
ul.side-nav .icons i.icon-arts       { background-image: url("../media/category_arts_40.png"); width: 24px; margin-left: 1px; }
ul.side-nav .icons i.icon-justice    { background-image: url("../media/category_justice_40.png"); width: 26px; }
ul.side-nav .icons i.icon-community  { background-image: url("../media/category_community_40.png"); width: 22px; margin-left: 2px; }

ul.side-nav .active i.icon-science   { background-image: url("../media/category_science_40gr.png"); }
ul.side-nav .active i.icon-scholars  { background-image: url("../media/category_scholars_40gr.png"); }
ul.side-nav .active i.icon-arts      { background-image: url("../media/category_arts_40gr.png"); }
ul.side-nav .active i.icon-justice   { background-image: url("../media/category_justice_40gr.png"); }
ul.side-nav .active i.icon-community { background-image: url("../media/category_community_40gr.png"); }

ul.side-nav .active i {
  background-color:  #555555;
}

/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/

/* Project Pages */
/*=========================*/

.controls,
.controls div { 
  padding-top: 0; 
  position: relative;
  z-index: 999;
  }

.controls div { 
  margin-top:0; 
  margin-bottom: 0; 
  }

.controls div a { 
  position: absolute;
  left: 0;
  right: 0; 
  display: block; 
  z-index: 999; 
  text-indent: 300%;
  white-space: nowrap;
  overflow: hidden;
}

.controls div a:hover {
  background-color: #009AC9;
  background-color: rgba(0,154,201,1);
  color: white;
  text-decoration: none;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

.controls .prev a {
  background: url("../media/proj-p.png") center center no-repeat;
}
.controls .prev a:hover {
  background-image: url("../media/proj-p-wh.png");
}
.controls .next a {
  background: url("../media/proj-n.png") center center no-repeat;
}
.controls .next a:hover {
  background-image: url("../media/proj-n-wh.png");
}

.leadimage {
  margin-bottom:30px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .controls div { 
    position: static; 
    z-index: 999; 
    height:200px;
    margin-bottom: -30px;  
  }
 .controls div  a { 
    position: relative; 
    top:0 !important;
    display: block; 
    z-index: 999;
  }
  .controls div  a {
    text-indent: 100%;
    white-space: nowrap;
    height: 100px !important;   
    height: 115px !important;   
    margin-top:80px;
    border-top:3px solid #F8F7F7;
  }
  .controls div::after{
    clear:none;
  }
  .controls div {
    float:left;
    margin-top:30px;
    width: 50%;
  }
  .controls div a:hover { 
    background-color: #009AC9;
    background-color: rgba(0,154,201,1);
    color: white;
    text-decoration: none;
    transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
  } 
}

/* JUST TEXT PAGES */
.project .tags,
.project .tags .icon {
  height: 60px;
}

.project .tags.bottom {
  margin-top: 60px;
}

div.spruceup {
  margin-top: 60px;
}

.spruceuptabs {
  margin-top: 15px;
}

.spruceuplist .side-nav {
  list-style-type: none;
  padding-top: 0;
  margin:0 0 0 -5px;
  }

.spruceuptabs .leadimage { 
  max-height: 266px; 
  overflow: hidden; 
}

.spruceuptitle:hover {
  text-decoration: underline;
}

/*Icon Stuff*/
.brick ul.categories {
  list-style: none;
  margin: 15px 0 0 0 ;
  padding: 0;
  }

.brick ul.categories li {
  display: inline-block;
  margin: 0 5px 15px 0;
  } 
  
.icons.categories.bottom { margin-top: 75px;}
  
.icons.categories li,
.icons.categories li a, 
.icons.categories.bottom a {
  display: inline-block;
  height: 40px;
}

.icons.categories.bottom a,
.icons.categories li a {
  text-indent: -9000px;
  overflow: hidden;
}

.icons.categories .arts a,
.icons.categories.bottom a.arts {
  background-image: url('../media/category_arts_40.png');
  background-repeat: no-repeat;
  width:40px !important;
  }
  
.icons.categories .community a,
.icons.categories.bottom a.community  {
  background-image:url('../media/category_community_40.png');
  background-repeat: no-repeat;
  width:37px !important;
  }
  
.icons.categories .justice a,
.icons.categories.bottom a.justice {
  background-image:url('../media/category_justice_40.png');
  background-repeat: no-repeat;
  width:44px !important;
  }
  
.icons.categories .science a,
.icons.categories.bottom a.science {
  background-image:url('../media/category_science_40.png');
  background-repeat: no-repeat;
  width:35px !important;
  }
  
.icons.categories .scholars a,
.icons.categories.bottom a.scholars {
  background-image:url('../media/category_scholars_40.png');
  background-repeat: no-repeat;
  width:40px !important;
  }

/**************************************/
#projects {
  list-style: none;
}

.brick {
  padding-bottom:15px;
  border-bottom: 3px solid; 
  border-color: #f8f7f7; 
  border-color: rgba(248,247,247,1); 
  width: 90%;
  width: calc(100% - 30px);
  display: inline-block;
}

@media (min-width: 768px) {
  .brick:last-child {
    padding-bottom:60px;
    border-bottom: none; 
    }
}

.brick .tags {
  display: block;
  text-align: right;
  margin-top: 34px;
}

.brick p {
  clear:both;
}

/**** Isotope CSS3 transitions ****/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope  .isotope-item {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
      -ms-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}
/**** /END Isotope CSS3 transitions ****/

/* Slideshow Stuff */
/*=========================*/
#slideshow, #slideshow .slide { border-radius: 0; position: relative; overflow: hidden; }
#slideshow, #slideshow .slide, #slideshow img { width: 100%; }
#slideshow img {position: absolute;}

#slideshow:before,
#slideshow:after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 777;
  display: block;
  content: "";
  height: 40px;
}

#slideshow:before {
  top:0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0,0));
}

#slideshow:after {
  bottom: 0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.2));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.2));
}

/** /END SLIDESHOW STUFF **/

/** fancy box popups */

.lightbox-thumbs {
  background: #daf6ff;
  margin: 7px -7px;
  padding: 7px 7px 0;
  border-radius: 7px;
}

.lightbox-thumbs,
.lightbox-thumbs a {
  margin-bottom: 7px;
}

.lightbox-thumbs a,
.lightbox-thumbs img {
  display: block;
  width:50px;
  height:50px;
  border-radius: 7px;
}

.lightbox-thumbs a {
  margin-right: 7px;
  float: left;
}

/** NEWS PAGE/STYLES **/
.newslist time {
  color: #009AC9;
  color:rgba(0,154,201,1); 
}

.newslist p.date {
  margin-top: 3px;
  text-align: right;
}

.newslist h4.external {
  margin-top: 0;
}

.newslist .border-top {
  border-bottom: 2px solid; 
  border-color: #f8f7f7; 
  border-color: rgba(248,247,247,1);
  padding-bottom: 30px;
}

.newslist .border-top:last-child {
  border-bottom: none; 
}

/*=========================*/
/*=========================*/
/*=========================*/

/* Contact Form Stuff */
form.wufoo label {
  max-width: 100%;
  display: block;
  font-weight: normal;
}

form.wufoo input,
form.wufoo textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}

form.wufoo .phone input.three {
  max-width: 25%;
  width: 25%;
  min-width: 25%;
}

form.wufoo .phone input.four {
  max-width: 33%;
  width: 33%;
  min-width: 33%;
}

form.wufoo .phone span.one {
  max-width: 8%;
  width: 8%;
  min-width: 8%;
}

#saveForm, .btn.blog {
  border: none;
  background: #009AC9;
  background: rgba(0,154,201,1);
  color:white;
  margin-top: 15px;
  padding: 1.1%;
  width: 206px;
  /**/
  transition: background 300ms;
  -moz-transition: background 300ms;
  -webkit-transition: background 300ms;
}

#saveForm:hover, .btn.blog:hover {
  border: none;
  background: #6EB000;
  background: rgba(110,176,0,1);
  color:white;
}

#saveForm:active, .btn.blog:active {
  background: #395b00;
  color: #F3F3F3;
  color: rgba(243,243,243,1);
}

/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/

/* MASSIVE MOBILE FRIENDLY STYLES */

@media (max-width: 767px) {
  .jumbotron { margin-bottom: 0; }
  .jumbotron h1 { margin: 0; padding: 15px 15px 0; }
  .jumbotron .lead { margin: 0; padding: 15px 15px 30px; }
  .index .jumbotron .lead { padding: 0; }
  .overlay .lead { display: none; }
  .accompany img, #staff aside img { margin-top: 0; }
  footer {margin-top: 30px;}
  .add-top { margin-top: 30px; }
  .add-bottom { margin-bottom: 30px; }
  #filters {padding-top: 15px;}
  .brick ul.categories { margin: 0; padding: 10px 0 0 0; }
  .brick ul.categories.pull-right { float: none !important; }
  .project h3 { margin-top: 0; }
  p a.btn.blog { display: inline; white-space: normal; padding: 0; background: transparent; color: #6EB000; color: rgba(110,176,0,1); }
  ul.side-nav .icons i.icon-science,
  ul.side-nav .icons i.icon-scholars,
  ul.side-nav .icons i.icon-arts,
  ul.side-nav .icons i.icon-justice,
  ul.side-nav .icons i.icon-community  { margin-left: auto; }
  .newslist p.date { margin-top: 15px; text-align: left; }
  .sidebar { padding: 15px; margin: 15px 15px 0; width: calc(100% - 30px); }
  .wufoo .controls div { height: auto; }
}


/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/
/*=========================*/



