
#project-list {
  list-style: none;
  margin: 0;
}

.cape-picker:hover {
  background-color: #F8F7F7; /*light gray*/
  background-color: rgba(248,247,247,1); /*light gray*/
}

.block {
  border: 3px solid #f8f7f7;
  margin: 0;
  padding: 15px;
}

.block h3 {
  height: 2em;
}

.block img {
  width: 100%;
  height: auto;
}

.choose {
  margin-top: 6px;
}

.choose i {
  font-size: 24px;
}
