
div.phone {width: 100%;}

div.phone input {
  margin: 0;
  padding-left: 1%;
  padding-right: 1%;
}

div.phone input.three {
  width: 20%;
}

div.phone input.four {
  width: 28%;
}

div.phone span.one {
  width: 6.333333333333%;
}

.controls-row {
  width:90% !important;
  }

.controls-row input,
.controls-row label, 
.controls-row .span4 input,
textarea {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}

#saveForm, .btn.blog {
  border: none;
  background: #009AC9;
  background: rgba(0,154,201,1);
  color:white;
  margin-top: 15px;
  padding: 1.1%;
  width: 206px;
  /**/
  transition: background 300ms;
  -moz-transition: background 300ms;
  -webkit-transition: background 300ms;
}

#saveForm:hover, .btn.blog:hover {
  border: none;
  background: #6EB000;
  background: rgba(110,176,0,1);
  color:white;
}

#saveForm:active, .btn.blog:active {
  background: #395b00;
  color: #F3F3F3;
  color: rgba(243,243,243,1);
}

 /** tweaks for @media queries */
/* 1200 AND ABOVE // Biggie Browser */
/* 980-1200 // Sm. Browser, Landscape Tablet */
/* ----------- BEGIN COLLAPSED NAV ----------- */
/* 768-979 // Portrait Tablet */
/* 481-767 // Landscape Smartphone */
/* 480 AND UNDER // Portrait Smartphone */

@media (max-width: 979px) {

.controls-row {
  width:100% !important;
  }
  
#field10, #field10-1 {
  width:20% !important;
  }
  
}

@media (max-width: 767px) {

.controls-row {
  width:100% !important;
  }
  
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin:0 !important;
  }  
  
}