---
layout : default
---

<!-- Main Content
================================================== -->
<div class="container inner">

  <!-- Top Hero -->
  <div class="jumbotron">
  <div class="jumbo-text inner">
     <h1>{{ page.jumbohed }}</h1>
     <p class="lead">{{ page.jumbodek }}</p>
     </div>
  </div>
  
  
  <div class="row-fluid">
  
    <!-- this will need to be auto-created; and then also auto-place classes in each posts div -->
    <div class="span8">
      <h3>We'd love to hear from you.</h3>
  
      <form id="form2" name="form2" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ookb.wufoo.com/forms/m7x3z9/#public">
        
        <div class="controls controls-row">
          <div class="span6">
            <label class="desc" id="title10" for="Field10"> Your Name </label>
            <input id="Field2" name="Field2" type="text" class="field text" placeholder="Your Name" maxlength="255" tabindex="1" onkeyup="" />
          </div>
          <div class="span6">
            <label class="desc" id="title10" for="Field10"> Your Organization</label>
            <input id="Field3" name="Field3" type="text" class="field text" placeholder="Organization Name" maxlength="255" tabindex="2" onkeyup="" />
          </div>
        </div>
      
        <div class="controls controls-row">
          <div id="foli10" class="phone span4">
            <label class="desc" id="title10" for="Field10"> Phone Number </label>
            <input id="Field10" name="Field10" type="tel" class="field text three" placeholder="###" size="3" maxlength="3" tabindex="3" />
            <span class="symbol one">-</span>
            <input id="Field10-1" name="Field10-1" type="tel" class="field text three" placeholder="###" size="3" maxlength="3" tabindex="4" />
            <span class="symbol one">-</span>
            <input id="Field10-2" name="Field10-2" type="tel" class="field text four" placeholder="####" size="4" maxlength="4" tabindex="5" />
          </div>
          <div class="span8">
            <label class="desc" id="title10" for="Field10"> Your Email </label>
            <input id="Field9" name="Field9" type="email" spellcheck="false" class="field text medium" placeholder="youremail@email.com" maxlength="255" tabindex="6" />
          </div> 
        </div>
      
        <div>
          <label class="desc" id="title5" for="Field5"> Describe your idea or program </label>
          <textarea id="Field5" name="Field5" class="field textarea medium" spellcheck="true" rows="5" tabindex="7" onkeyup=""></textarea>
        </div>
        
        
        <div>
          <label class="desc" id="title6" for="Field6">Describe your organization (or yourself)</label>
          <textarea id="Field6" name="Field6" class="field textarea medium" spellcheck="true" rows="5" tabindex="8" onkeyup="" ></textarea>
        </div>
      
        <div>
          <label class="desc" id="title7" for="Field7">How are you and your idea aligned with Deutsch's values and interests?</label>
          <textarea id="Field7" name="Field7" class="field textarea medium" spellcheck="true" rows="5" tabindex="9" onkeyup="" ></textarea>
        </div>
      
        <div>
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>
        </div>
      
        <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="1DWtsf2ozTiUxBfVTEN9g4JOkzmbuCa1BDGxFxU9xlw=" />
        </div>
      
      </form> 
    
    </div>
          
    {{# tellusaboutyou.find_by_name.areweagoodfit }}
    <div class="span4 sidebar">
      <h3>{{ title }}</h3>
      {{{ content }}}
    </div>
    {{/ tellusaboutyou.find_by_name.areweagoodfit }}
    
  </div>

</div>
<!-- END Main Content
================================================== -->
