---
css:
  - "/css/rwdffeed.css"
js:
  - "//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.0/hogan.js"
  - "//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.0/list.min.js"
  - "http://templates.cape.io/js/libs/RubaXa/Sortable/Sortable.min.js"
  - "/scripts/admin.js"

---

<h2>Projects for Homepage</h2>
<div class="row" id="projects">
</div>

{{=<% %>=}}
<script id="projects-template" type="text/x-mustache-template">
  <!-- // LISTING OF RWDF PROJECTS -->
  <ul id="project-list">
  {{#projects}}
    {{# featureimg }}
    <li class="cape-picker block" id="{{_id}}">

      {{# featureimg }}
        <img class="featureimg img-thumbnail col-xs-12 col-sm-3" src="{{{featureimg}}}" alt="{{title}}"/>
      {{/ featureimg}}
      <h3 class="col-xs-12 col-sm-3">{{featuretitle}}{{^featuretitle}}{{title}}{{/featuretitle}}</h3>
      {{# featureblurb }}
        <p class="col-xs-12 col-sm-3">{{featureblurb}}</p>
      {{/ featureblurb }}
<!--       <small>{{title}}</small> -->

    </li>
    {{/ featureimg }}
  {{/projects}}
  </ul>
</script>
<%={{ }}=%>
