<!-- Image Hero -->
<div class="hero container">
  <div class="row">
    <div class="span8 feature">
      <img src="{{feature.featureimg}}">
      <div class="text overlay span8">
        <h2><a href="{{feature._no_ext}}">
          {{feature.featuretitle}}{{^feature.featuretitle}}{{feature.title}}{{/feature.featuretitle}}
        </a></h2>
        <p class="lead"><a href="{{feature._no_ext}}">
          {{feature.featureblurb}}{{^feature.featureblurb}}{{feature.title}}{{/feature.featureblurb}}
        </a></p>
      </div>
    </div>
    <div class="span4 tagline">
      <div class="text">
        {{# homepage.find_by_name.hed }}
          <h1>{{{ content }}}</h1>
        {{/ homepage.find_by_name.hed }}
      </div>
    </div>
    <div class="span4 other overlay">
      <img src="{{other.featureimg}}">
      <div class="text span4">
        <h3><a href="{{other._no_ext}}">{{other.title}} &rarr;</a></h3>
      </div>
    </div>
  </div>
</div>

<!-- Triptych -->
<div class="triptych container">
  <div class="row">
    {{#triptych}}
      <div class="span4 overlay trio">
        <img src="{{featureimg}}">
        <div class="text span4">
          <h3><a href="{{_no_ext}}">{{title}} &rarr;</a></h3>
        </div>
      </div>
    {{/triptych}}
  </div>
</div>
