---
layout: default
title: "The Robert W. Deutsch Foundation"
classes: homepage

---

<!-- INDEX Page Content
================================================== -->

<div id="gridded">

  <!-- Image Hero -->
  <div class="hero">
    <div class="row">

      <div class="col-xs-12 col-sm-8 feature">
        {{#front.1}}
        <img src="{{featureimg}}{{^featureimg}}{{image}}{{/featureimg}}" >
        <div class="text overlay">
          <h2><a href="whatwedo/{{_filename}}">{{featuretitle}}{{^featuretitle}}{{title}}{{/featuretitle}} {{^featureblurb}}&rarr;{{/featureblurb}}</a></h2>
          {{#featureblurb}}
            <p class="lead"><a href="whatwedo/{{_filename}}">{{featureblurb}} &rarr;</a></p>
          {{/featureblurb}}
        </div>
        {{/front.1}}
      </div>

      <div class="col-xs-12 col-sm-4 tagline">
        <div class="text">
            <h1>{{ content.homepage.hed }}</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        {{#front.2}}
        <img src="{{featureimg}}{{^featureimg}}{{image}}{{/featureimg}}" alt="{{title}}">
        <div class="text overlay">
          <h3><a href="whatwedo/{{_filename}}/">{{featuretitle}}{{^featuretitle}}{{title}}{{/featuretitle}} &rarr;</a></h3>
        </div>
        {{/front.2}}
      </div>

    </div>
  </div>

  <!-- Triptych -->
  <div class="triptych">
    <div class="row">

      <div class="col-xs-12 col-sm-4 trio">
        {{#front.3}}
        <img src="{{featureimg}}{{^featureimg}}{{image}}{{/featureimg}}" atl="{{title}}">
        <div class="text overlay">
          <h3><a href="whatwedo/{{_filename}}/">{{featuretitle}}{{^featuretitle}}{{title}}{{/featuretitle}} &rarr;</a></h3>
        </div>
        {{/front.3}}
      </div>

      <div class="col-xs-12 col-sm-4 trio">
        {{#front.4}}
        <img src="{{featureimg}}{{^featureimg}}{{image}}{{/featureimg}}" atl="{{title}}">
        <div class="text overlay">
          <h3><a href="whatwedo/{{_filename}}/">{{featuretitle}}{{^featuretitle}}{{title}}{{/featuretitle}} &rarr;</a></h3>
        </div>
        {{/front.4}}
      </div>

      <div class="col-xs-12 col-sm-4 trio">
        {{#front.5}}
        <img src="{{featureimg}}{{^featureimg}}{{image}}{{/featureimg}}" atl="{{title}}">
        <div class="text overlay">
          <h3><a href="whatwedo/{{_filename}}/">{{featuretitle}}{{^featuretitle}}{{title}}{{/featuretitle}} &rarr;</a></h3>
        </div>
        {{/front.5}}
      </div>

    </div>
  </div>

  <div class="row">
    <p class="col-xs-12 lead">
      <a class="btn btn-large btn-info blog" href="http://rwdfblog.com" target="_blank">Additional information on many of these projects can be found on the blog</a>
    </p>
  </div>

</div>

<!-- Jumbo Text -->
<div class="index jumbotron add-top">
  <div class="row">
    <div class="col-xs-12">
      <div class="diag-divider"></div>
    </div>
    <div class="col-xs-12 jumbo-text">
      <p class="lead">{{{ content.homepage.dek }}}</p>
    </div>
  </div>
</div>

<!-- Page -->
<div class="add-top">
  <div class="row home-content">

    <!-- just the leagacy_md document stuff -->
    {{# content.homepage.legacy_md }}
      <div class="col-xs-12 col-sm-4">
        <h3><a href="whoweare">{{ title }}</a></h3>
        {{{content}}}
      </div>
    {{/ content.homepage.legacy_md }}

    <!-- just the big idea document stuff -->
    {{# content.homepage.bigidea_md }}
      <div class="col-xs-12 col-sm-4">
        <h3><a href="tellusaboutyou">{{ title }}</a></h3>
        {{{content}}}
      </div>
    {{/ content.homepage.bigidea_md }}

    <!-- this needs to be spit out from the news feed -->
    <div class="col-xs-12 col-sm-4 news">
      <h3><a href="news">{{ content.news.hed }}</a></h3>
      <p>{{ content.news.dek }}</p>
      <ul class="newslist">
      {{# content.news.articles.2014._all }}
        <li><p><a href="{{link}}">{{ title }}</a></p></li>
      {{/ content.news.articles.2014._all }}
      {{# content.news.articles.2013._all }}
        <li><p><a href="{{link}}">{{ title }}</a></p></li>
      {{/ content.news.articles.2013._all }}
      </ul>
    </div>

  </div>
</div>

<!-- /Page -->
<!-- /INDEX Page Content
================================================== -->

