---
layout: page
---

<!-- NEWS Page Content
================================================== -->

<article class="newslist">
  {{# page.articles.2014._all }}
  <section class="row border-bottom">
    <p class="col-xs-12 col-sm-2 date"><time>{{ date.custom }}</time></p>
    <div class="col-xs-12 col-sm-8">
      <h4 class="external"><a href="{{ link }}">{{ title }}</a></h4>
      {{{ content }}}
    </div>
  </section>
  {{/ page.articles.2014._all }}
  {{# page.articles.2013._all }}
  <section class="row border-bottom">
    <p class="col-xs-12 col-sm-2 date"><time>{{ date.custom }}</time></p>
    <div class="col-xs-12 col-sm-8">
      <h4 class="external"><a href="{{ link }}">{{ title }}</a></h4>
      {{{ content }}}
    </div>
  </section>
  {{/ page.articles.2013._all }}
</article>
