---
layout : default
---

<!-- Main Content
================================================== -->
<div class="container inner">

  <!-- Top Hero -->
  <div class="jumbotron">
    <div class="jumbo-text inner">
      <h1>{{ hed }}</h1>
      <p class="lead">{{ dek }}</p>
    </div>
  </div>

  <!--Page Content
  ================================================== -->

  {{{ content }}}
  
  <!-- END PAGE CONTENTS
  ================================================== -->

</div><!-- END CONTAINER -->
<!-- END Main Content
================================================== -->


