---
layout : default
js:
  - "//cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"
  - "/scripts/project.js"
---

<!-- The Project page(s)! -->

<!-- Main Content
================================================== -->

<!-- Content -->
<div class="row project">

  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

    <article class="writeup">

      <div class="imagewrapper">
        {{# page._image }}
          <div class="leadimage">
            <div class="singleimage">
              <img src="/{{ page._image._id }}" />
            </div>
          </div>
        {{/ page._image }}

        {{^page._image}}
          {{# page._images.length }}
            <div id="img-carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                {{# page._images }}
                <div class="item">
                  <img src="/{{ _id }}" alt="...">
                </div>
                {{/ page._images }}
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#img-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#img-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          {{/ page._images.length }}
        {{/page._image}}
  
        {{# page.spruceup-grants}}
          <aside class="lightbox-thumbs clearfix">
            <!-- IMAGES in the slideshow -->
            {{# spruceups }}
              <a class="fancybox" data-fancybox-group="gallery" rel="=group1" href="{{ image }}">
                <img alt="" src="{{ image }}" />
              </a>
            {{/ spruceups }}
          </aside>
        {{/ page.spruceup-grants}}

      </div>
      
      <h2>{{ page.title }}</h2>
      
      {{{ page.content }}}

      {{# page.spruceup-grants }}
      <!-- Spruce Up Projects Tabs!
      ================================================== -->
      <h3 class="spruceuptitle">Grant Recipients <span class="togglearrow">&#8595;</span></h3>
      <div class="tabbable spruceuptabs">
        <div class="spruceuplist col-xs-12 col-sm-4" id="myTab">
          <ul class="side-nav">
          {{# spruceups }}
            <li><a href="#tab-{{tabid}}" data-disqus-identifier="{{url}}" data-toggle="tab">{{ title }}</a></li>
          {{/ spruceups }}
          </ul>
        </div>
        <!-- start tabbed "pages" column... -->
        <div class="tab-content col-xs-12 col-sm-8">
          <!-- Spruceups All!!
          ================================================== -->
          {{# spruceups }}
            <div class="tab-pane" id="tab-{{tabid}}">
              <div class="">
                <div class="clearfix leadimage"><img class="col-xs-12 col-sm-8 offset2 " src="{{ image }}" /></div>
                <h3>{{title}}</h3>
                {{{ content }}}
              </div>
            </div>
          {{/ spruceups }}

        </div>
        <!-- end tabbed "pages" column... -->
      </div><!-- / END tabbable -->
      <!-- ==================================================
           END SPRUCE UP SUB-PROJECTS TABBABLE AREA -->
      {{/ page.spruceup-grants }}

      <div class="icons categories bottom text-center">
        {{# page.categories }}
          <a href="/whatwedo/" class="{{.}}" >{{.}}</a>
        {{/ page.categories }}
      </div>

    </article>

  </div>

</div>
<!-- END Main Content
================================================== -->

<!-- Navigation Prev/Next
================================================== -->
<div class="row minus-top controls">

  {{# page._next }}
    <div class="next col-xs-6 col-sm-2"><a href="/{{_dirname}}" title="{{ title }}">Next &rarr;</a></div>
  {{/ page._next }}

  {{# page._previous }}
    <div class="prev previous col-xs-6 col-sm-2 col-sm-offset-8"><a href="/{{_dirname}}" title="{{ title }}">&larr; Previous</a></div>
  {{/ page._previous }}

</div>
<!-- /end Navigation Prev/Next
================================================== -->

<!-- hmmm why isn't this updating? ! -->
