<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RWDF Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://cape.ookb.co/css/rwdffeed.css" rel="stylesheet">
  </head>
<!-- count: {{count.total}} -->
  <body>

    <header class="container">
      <img class="logo pull-right" src="http://rwdfruhoh.ookb.co/assets/media/rwdflogo.jpg"/>
      <h1 class="">Deutsch Foundation projects</h1>
      <div class="row">
        <p class="col-6 col-sm-12">Please click the <i class="icon-thumbs-up"></i> to feature a project on the homepage. Click the <i class="icon-ban-circle"></i> to send to the unused feed.</p>
      </div>
    </header>

    <div class="container">

      <div class="row">

          <!-- LISTING OF RWDF PROJECTS -->
        {{#data}}
          <div class="col-12 col-sm-6 col-med-4 col-lg-3 cape-picker block">

            <h3>{{_source.featuretitle}}</h3>
            {{# _source.featureimg }}
              <img src="{{{_source.featureimg}}}" alt="{{_source.featuretitle}}"/>
            {{/ _source.featureimg}}
            {{# _source.featureblurb }}
              <p>{{_source.featureblurb}}</p>
            {{/ _source.featureblurb }}
            <small>{{_source.title}}</small>


            <div class="choose">
              <!-- CAPE Promote/Demote buttons -->
              {{^admin.list_types.removed}}
                <a href="{{flag}}/{{_id}}/removed" class="remove" title="REMOVE">
                  <i class="icon-ban-circle"></i>
                </a>
              {{/admin.list_types.removed}}
              {{^admin.list_types.added}}
                <a href="{{flag}}/{{_id}}/added" class="add" title="ADD">
                  <i class="icon-thumbs-up"></i>
                </a>
              {{/admin.list_types.added}}
            </div>
          </div>
        {{/data}}

      </div>

    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {
        var list_type = '{{list_type}}'
        $("a.remove").click(function(e) {
          var url = $(this).attr('href');
          $(this).parent().parent().remove();
          $.get(url);
          return false;
        });
        $("a.add").click(function(e) {
          var url = $(this).attr('href');
          $(this).parent().parent().remove();
          $.get(url);
          return false;
        });
      });
    </script>

    <!-- make all the bios the same height with JS, not CSS -->
    <!-- from here: http://stackoverflow.com/questions/6781031/use-jquery-css-to-find-the-tallest-of-all-elements -->
    <script>
      $(document).ready(function() {
        var maxHeight = -1;
        $('.block').each(function() {
          maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
        });
        $('.block').each(function() {
          $(this).height(maxHeight);
        });
      });
    </script>

  <!-- ! COMPILED TIME {{ timestring }} !-->
  </body>
</html>
