---
layout : project
---

<!-- Main Content
================================================== -->
<div class="container inner">

  <div class="row">
    <div class="e-breadcrumb col-sm-offset-2">
      <a href="/whatwedo/">&larr; Back to All Projects</a>
    </div>
  </div>


  <!-- Content -->
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <article class="project">
        <div class="leadimage top text-center clearfix">
          {{# page.image }}
            <img class="img-rounded span4 offset4" src="{{ page.image }}" />
          {{/ page.image }}
        </div>
        <h2>{{ page.title }}</h2>
        {{{ page.content }}}

        <div class="icons categories bottom text-center">
          {{# page.categories }}
            <a href="../whatwedo/" class="{{name}}" >{{name}}</a>
          {{/ page.categories }}
        </div>

      </article>
    </div>

  </div>

</div>
<!-- END Main Content
================================================== -->
