---
layout : project
---

<div id="slideshow">
  <!-- big image area -->
  {{# page.featureimg }}
    <div class="slide"><img src="{{ . }}" /></div>
  {{/ page.featureimg }}
</div>

<!-- Main Content
================================================== -->
<div class="container inner">
    
  <!-- Content -->
  <div class="row-fluid">
  
    <div class="span8 offset2">

      <article class="project">
        <h2>{{ page.title }}</h2>

        <aside class="lightbox-thumbs clearfix">    
          <!-- IMAGES in the slideshow -->
          {{# page.image }}
            <a class="fancybox" data-fancybox-group="gallery" rel="=group1" href="{{ . }}">
              <img alt="" src="{{ . }}" />
            </a>
          {{/ page.image }}
        </aside>

        {{{ page.content }}}

        <div class="icons categories bottom text-center">
          {{# page.categories }}
            <a href="../whatwedo/" class="{{name}}" >{{name}}</a>
          {{/ page.categories }}
        </div>

      </article>
      
    </div>
    
  </div>
      
</div>
<!-- END Main Content
================================================== -->
