---
layout : project
---

<!-- Main Content
================================================== -->
<div class="container inner">
  
  <div class="row-fluid">
    <div class="e-breadcrumb offset2">
      <a href="/whatwedo/">&larr; Back to All Projects</a>
    </div>
  </div>  

  <!-- Content -->
  <div class="row-fluid">
  
    <div class="span8 offset2">
      <article class="project">
        <h2>{{ page.title }}</h2>
        {{{ page.content }}}
        
        <div class="icons categories bottom text-center">
          {{# page.categories }}
            <a href="../whatwedo/" class="{{name}}" >{{name}}</a>
          {{/ page.categories }}
        </div>

      </article>
    </div>
    
  </div>
      
</div>
<!-- END Main Content
================================================== -->
