---
layout : page
title: "What We Do"
js:
  - "//cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"
---

  <div class="row double">
    <div class="col-xs-12 col-sm-2">
      <ul class="side-nav" id="filters">
        <li class="active textonly">
          <div>
            <a href="#filter=*" data-filter="*">
              <p>View All Categories</p>
            </a>
          </div>
        </li>
          {{# categories }}
          <li class="{{.}}">
            <a href="#">{{.}}</a>
          </li>
          {{/ categories }}
        <li class="icons">
          <div>
            <a href="#filter=.science" >
              <i class="icon-science icongreen iconsidenav"></i>
              <p>Science &amp; Tech</p>
            </a>
          </div>
        </li>
        <li class="icons">
          <div>
            <a href="#filter=.scholars" >
              <i class="icon-scholars icongreen iconsidenav"></i>
              <p>Scholars &amp; Fellows</p>
            </a>
          </div>
        </li>
        <li class="icons">
          <div>
            <a href="#filter=.arts" >
              <i class="icon-arts icongreen iconsidenav"></i>
              <p>Arts &amp; Culture</p>
            </a>
          </div>
        </li>
        <li class="icons">
          <div>
            <a href="#filter=.justice" >
              <i class="icon-justice icongreen iconsidenav"></i>
              <p>Social Justice</p>
            </a>
          </div>
        </li>
        <li class="icons">
          <div>
            <a href="#filter=.community">
              <i class="icon-community icongreen iconsidenav"></i>
              <p>Community</p>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <ul class="col-xs-12 col-sm-10" id="projects">
      {{# page.projects._all }}
      <li class="project brick {{# categories }}{{.}}{{/ categories }}">
        <ul class="icons categories pull-right">
          {{# categories }}
          <li class="{{.}}">
            <a href="#">{{.}}</a>
          </li>
          {{/ categories }}
        </ul>
        <h3 class="project-title"><a href="/whatwedo/{{_filename}}" data-disqus-identifier="/whatwedo/{{_filename}}">{{ title }}</a></h3>
        <div class="project-content">
          {{{ summary }}}
        </div>
      </li>
      {{/ page.projects._all }}
    </uk=l>
  </div>

  <div class="row double">
    <p class="col-xs-12 col-sm-8 col-sm-offset-2 lead ">
      <a class="btn btn-large btn-info blog" href="http://rwdfblog.com" target="_blank">Additional information on many of these projects can be found on the blog</a>
    </p>
  </div>
