---
layout: page
title: "Who We Are"
js:
  - "/scripts/whoweare.js"

---

<!-- hmm, is this actally recognizing changes? -->

  <!-- Who We Are Tabs!
  ================================================== -->
  <div class="row">
    <div class="tabbable">

      <!-- MENU - should we worry about auto creating this? -->
      <div class="col-xs-12 col-sm-2">
        <ul class="side-nav" id="myTab">
          <li class="active"><a href="#values" data-toggle="tab">Our Values</a></li>
          <li><a href="#founders" data-toggle="tab">Robert &amp; Florence</a></li>
          <li><a class="staff" href="#staff" data-toggle="tab">Directors &amp; Staff</a></li>
<!--           <li><a class="irs-forms" href="#irs-forms" data-toggle="tab">IRS Form 990</a></li> -->
        </ul>
      </div>

      <!-- start tabbed "pages" column... -->
      <div class="tab-content col-xs-12 col-sm-10">

        <!-- VALUES!
        ================================================== -->
        <div class="tab-pane fade in active" id="values">
          <div class="row">
            {{# page.our-values_md }}
              <div class="col-xs-12 col-sm-8">
                <h3>{{title}}</h3>
                {{{ content }}}
              </div>
              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/whoweare/{{image}}"/>
              </aside>
            {{/ page.our-values_md }}
          </div>
        </div>

        <!-- FOUNDERS -->
        <!-- ====================================== -->
        <div class="tab-pane fade" id="founders">
          <div class="row">
            {{# page.robert-florence_md }}
              <div class="col-xs-12 col-sm-8">
                {{{ content }}}
              </div>
              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/whoweare/{{image}}"/>
              </aside>
            {{/ page.robert-florence_md }}
          </div>
        </div>

        <!-- STAFF -->
        <!-- ====================================== -->
        <div class="tab-pane fade" id="staff">

          <article class="">

            <!-- Directors!
            ================================================== -->
            <div class="row">

              <h3 class="col-xs-12">Directors</h3>

              <section class="directors col-xs-12 col-sm-8">

                {{# page.bios.directors._all }}
                  <div class="plain {{sortorder}}">
                    <h4>{{title}}</h4>
                    <h5>{{subhead}}</h5>
                    {{{content}}}
                    <div>
                      <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                  </div>
                {{/ page.bios.directors._all }}
              </section>

              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/placeholder_desk.jpg"/>
              </aside>

            </div>


            <!-- Main Staff!
            ================================================== -->
            <div class="row add-top">

              <h3 class="col-xs-12">Staff</h3>

              <section class="staff col-xs-12 col-sm-8">

                {{# page.bios.staff._all }}
                  <div class="plain {{sortorder}}">
                    <h4>{{title}}</h4>
                    <h5>{{subhead}}</h5>
                    {{{content}}}
                    <div>
                      <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                  </div>
                {{/ page.bios.staff._all }}
              </section>

              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/placeholder_lights.jpg"/>
              </aside>

            </div>

            <!-- Fellows!
            ================================================== -->
            <div class="row add-top">
              
              <h3 class="col-xs-12">Fellows</h3>

              <section class="fellows col-xs-12 col-sm-8">

                {{# page.bios.fellows._all }}
                  <div class="plain {{sortorder}}">
                    <h4>{{title}}</h4>
                    <h5>{{subhead}}</h5>
                    {{{content}}}
                    <div>
                      <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                  </div>
                {{/ page.bios.fellows._all }}

              </section>

              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="https://farm1.staticflickr.com/3/5047932_2aa5f42e57_o_d.jpg"/><br/>
                <small><a href="https://www.flickr.com/photos/davies/5047932">David Davies on flickr</a>;  Creative Commons licensed</small>
              </aside>

            </div>

          </article>

        </div>
        <!-- END VALUES, FOUNDERS, STAFF, -->
        <!-- ====================================== -->

        <!-- IRS FORMS -->
        <!-- ====================================== -->
<!--
        {{#page.form990}}
        <div class="tab-pane fade" id="irs-forms">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h3>IRS Form 990</h3>
              <p>Form 990 is an annual report that federally tax-exempt organizations, like The Robert W. Deutsch Foundation, file with the IRS. It provides information on our finances, mission and programs.</p>
              <ul>
                {{#_all_pdf}}
                <li><a href="/{{_id}}">{{_file_slug}}</a></li>
                {{/_all_pdf}}
              </ul>
            </div>
          </div>
        </div>
        {{/page.form990}}
-->
      </div>
      <!-- end tabbed "pages" column... -->

    </div><!-- / END tabbable -->
  </div><!-- / END row -->
