---
layout : page
title: "Who We Are"
---

  <!-- Who We Are Tabs!
  ================================================== -->
  <div class="row">
    <div class="tabbable">
      <!-- THIS WILL PROBABLY NEED TO BE AUTO CREATED? -->
      <ul class="side-nav col-xs-12 col-sm-2" id="myTab">
        <li class="active"><a href="#tab-values" data-toggle="tab">Our Values</a></li>
        <li><a href="#tab-founders" data-toggle="tab">Robert &amp; Florence</a></li>
        <li><a class="staff" href="#tab-staff" data-toggle="tab">Directors &amp; Staff</a></li>
        <li><a class="staff" href="#tab-staff" data-toggle="tab">IRS Form 990</a></li>
      </ul>

      <!-- start tabbed "pages" column... -->
      <div class="tab-content span10">

        <!-- VALUES!
        ================================================== -->
        <div class="tab-pane active" id="tab-values">
          {{# content.whoweare.our-values }}
            <div class="col-xs-12 col-sm-8">
              <h3>{{title}}</h3>
              {{{ content }}}
            </div>
            <div class="col-xs-12 col-sm-4 inline-image">
              <img src="{{urls.media}}/{{image}}"/>
            </div>
          {{/ content.whoweare.our-values }}
        </div>

        <!-- FOUNDERS -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-founders">
            {{# content.whoweare.robert-florence }}
            <div class="col-xs-12 col-sm-8">
              {{{ content }}}
            </div>
            <div class="col-xs-12 col-sm-4 inline-image">
              <img src="{{urls.media}}/{{image}}"/>
            </div>
          {{/ content.whoweare.robert-florence }}
        </div>

        <!-- STAFF -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-staff">
          <div class="span6">

            {{# content.whoweare.bios.directors._all }}
              <div class="plain {{sortorder}}">
<!--                 <img src="{{urls.media}}/{{image}}" class="col-xs-12 col-sm-4 img-circle" /> -->
                <div class=""> <!-- when images get added, make col-xs-12 col-sm-8 instead -->
                  <h4>{{title}}</h4>
                  <h5>{{subhead}}</h5>
                  {{{content}}}
                  <div>
                    <a href="mailto:{{email}}">{{email}}</a>
                  </div>
                </div>
              </div>
            {{/ content.whoweare.bios.directors._all }}
          </div>

          <div class="span6">

            {{# content.whoweare.bios.staff._all }}
              <div class="plain {{sortorder}}">
<!--                 <img src="{{urls.media}}/{{image}}" class="col-xs-12 col-sm-4 img-circle" /> -->
                <div class=""> <!-- when images get added, make col-xs-12 col-sm-8  -->
                  <h4>{{title}}</h4>
                  <h5>{{subhead}}</h5>
                  {{{content}}}
                  <div>
                    <a href="mailto:{{email}}">{{email}}</a>
                  </div>
                </div>
              </div>
            {{/ content.whoweare.bios.staff._all }}
          </div>
        </div>

        <!-- STAFF -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-fellows">
          {{# content.whoweare.fellows-intro }}
            <h3>{{title}}</h3>
            <div>
              <div class="col-xs-12 col-sm-8">
                {{{ content }}}
              </div>
            </div>
          {{/ content.whoweare.fellows-intro }}

          <div>
          {{# content.whoweare.bios.fellows._all }}
            <div class="fellow span6">
              <h4>{{title}}</h4>
              {{{content}}}
            </div>
          {{/ content.whoweare.bios.fellows._all }}
          </div>
        </div>

        <!-- END VALUES, FOUNDERS, STAFF, FELLOWS -->
        <!-- ====================================== -->

      </div>
      <!-- end tabbed "pages" column... -->

    </div><!-- / END tabbable -->
  </div><!-- / END row -->
