---
layout: page
title: "Who We Are"
---

  <!-- Who We Are Tabs!
  ================================================== -->
  <div class="row double">
    <div class="tabbable">

      <!-- MENU - should we worry about auto creating this? -->
      <div class="col-xs-12 col-sm-2">
        <ul class="side-nav" id="myTab">
          <li class="active"><a href="#tab-values" data-toggle="tab">Our Values</a></li>
          <li><a href="#tab-founders" data-toggle="tab">Robert &amp; Florence</a></li>
          <li><a class="staff" href="#tab-staff" data-toggle="tab">Directors &amp; Staff</a></li>
          <li><a class="irs-forms" href="#tab-irs-forms" data-toggle="tab">IRS Form 990</a></li>
        </ul>
      </div>

      <!-- start tabbed "pages" column... -->
      <div class="tab-content col-xs-12 col-sm-10">

        <!-- VALUES!
        ================================================== -->
        <div class="tab-pane active" id="tab-values">
          <div class="row">
            {{# content.whoweare.our-values }}
              <div class="col-xs-12 col-sm-8">
                <h3>{{title}}</h3>
                {{{ content }}}
              </div>
              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/whoweare//{{image}}"/>
              </aside>
            {{/ content.whoweare.our-values }}
          </div>
        </div>

        <!-- FOUNDERS -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-founders">
          <div class="row">
            {{# content.whoweare.robert-florence }}
              <div class="col-xs-12 col-sm-8">
                {{{ content }}}
              </div>
              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/whoweare//{{image}}"/>
              </aside>
            {{/ content.whoweare.robert-florence }}
          </div>
        </div>

        <!-- STAFF -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-staff">

          <article class="">

            <!-- Directors!
            ================================================== -->
            <div class="row">
              <section class="directors col-xs-12 col-sm-8">

                <h3>Directors</h3>

                {{# content.whoweare.bios.directors._all }}
                  <div class="plain {{sortorder}}">
                    <h4>{{title}}</h4>
                    <h5>{{subhead}}</h5>
                    {{{content}}}
                    <div>
                      <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                  </div>
                {{/ content.whoweare.bios.directors._all }}
              </section>

              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/rwdf-square.png"/>
              </aside>

            </div>


            <!-- Main Staff!
            ================================================== -->
            <div class="row">
              <section class="staff col-xs-12 col-sm-8">

                <h3>Staff</h3>

                {{# content.whoweare.bios.staff._all }}
                  <div class="plain {{sortorder}}">
                    <h4>{{title}}</h4>
                    <h5>{{subhead}}</h5>
                    {{{content}}}
                    <div>
                      <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                  </div>
                {{/ content.whoweare.bios.staff._all }}
              </section>

              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/rwdf-square.png"/>
              </aside>

            </div>

            <!-- Fellows!
            ================================================== -->
            <div class="row">
              <section class="fellows col-xs-12 col-sm-8">

                <h3>Fellows</h3>

                {{# content.whoweare.bios.fellows._all }}
                  <div class="plain {{sortorder}}">
                    <h4>{{title}}</h4>
                    <h5>{{subhead}}</h5>
                    {{{content}}}
                    <div>
                      <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                  </div>
                {{/ content.whoweare.bios.fellows._all }}

              </section>

              <aside class="col-xs-12 col-sm-4 accompany">
                <img src="/media/rwdf-square.png"/>
              </aside>

            </div>

          </article>

        </div>
        <!-- END VALUES, FOUNDERS, STAFF, -->
        <!-- ====================================== -->

        <!-- IRS FORMS -->
        <!-- ====================================== -->
        <div class="tab-pane" id="tab-irs-forms">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h3>IRS Form 990</h3>
              <p>Form 990 is an annual report that federally tax-exempt organizations, like The Robert W. Deutsch Foundation, file with the IRS. It provides information on our finances, mission and programs.</p>
            </div>
            <aside class="col-xs-12 col-sm-4 accompany">
              <img src="TK"/>
            </aside>
          </div>
        </div>

      </div>
      <!-- end tabbed "pages" column... -->

    </div><!-- / END tabbable -->
  </div><!-- / END row -->
