/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700,700italic|Open+Sans:300italic,400italic,700italic,400,300,700);

/**/
/**/
/**/

@open-stack: "Open Sans", Helvetica, Arial, sans-serif;
@playfair-stack: 'Playfair Display', Georgia, serif;

.playfair-styled {
  font-family: 'Playfair Display', Georgia, serif;
  line-height: 1.25em;
  font-weight: 700;
}

/** Base RWDF Color Palette
    ======================= **/

@rwdf-green-hex: #6EB000;
@rwdf-green-rgb: rgba(110,176,0,1);

@rwdf-lightgreen-hex: #A2B952;
@rwdf-lightgreen-rgb: rgba(162,185,82,.75);

@rwdf-darkgreen-hex: #395b00;
@rwdf-darkgreen-rgb: rgba(57,91,0,1);

@rwdf-blue-hex: #009AC9;
@rwdf-blue-rgb: rgba(0,154,201,1);

@rwdf-lightgray-hex: #F3F3F3;
@rwdf-lightgray-rgb: rgba(243,243,243,1);

@rwdf-gray-hex: #B9BAB8;
@rwdf-gray-rgb: rgba(185,186,184,1);

@rwdf-darkgray-hex: #555555;
@rwdf-darkgray-rgb: rgba(85,85,85,1);

@rwdf-orange-hex: #BD5809;
@rwdf-orange-rgb: rgba(189,88,9,1);

/** other general reusable classes/hacks
    ==================================== **/

.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.show-text {
  text-indent: 0%;
  white-space: normal;
  overflow: visible;
}

.add-top    { margin-top:    75px; }
.add-bottom { margin-bottom: 75px; }

/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
